pesos resultantes do treinamento:  <b><%= @rede.pesos %></b>
<br/>
número de épocas necessárias para treinar: <b><%= @rede.epocas %></b>
<br/>
<td><%= link_to 'Mostrar rede', @rede %></td>
<td><%= link_to 'Validar rede', valida_rede_path(@rede) %></td>

